@use "../../../../scss/" as *;

.card-skeleton {
  --spacing: 20px;
  position: relative;
  overflow: hidden;
  width: calc(100% - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
}

.card-skeleton-bottom {
  padding: 15px 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  & > * ~ * {
    margin-top: 5px;
  }
}
