@use "../../../scss/" as *;

.ani-button {
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: $main-color;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 40px;
  line-height: 38px;
  padding: 0px 15px;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   bottom: 0;
  //   right: 50%;
  //   z-index: 2;
  //   width: 0;
  //   height: 100%;
  //   transition: all 0.2s ease-in-out;
  // }
  // &:hover {
  //   &:before {
  //     left: 0;
  //     width: 100%;
  //     right: 0;
  //     background-color: rgba(255, 255, 255, 0.3);
  //     cursor: pointer;
  //   }
  // }
  span {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: $main-fontFamily;
    white-space: nowrap;
  }
}

.ani-button-outline {
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  height: 40px;
  line-height: 38px;
  padding: 0px 15px;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  &.active {
    background-color: #ff3377;
    border: 1px solid #ff3377;
  }
  &:hover {
    background-color: #ff3377;
    border: 1px solid #ff3377;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  span {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: $main-fontFamily;
    white-space: nowrap;
  }
}
