.btn-play {
  position: relative;
  cursor: pointer;
  svg {
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    svg {
      color: #ff3377;
      transition: all 0.3s ease-in-out;
    }
  }
}
