@use "../../../scss/" as *;

.ani-btn-group {
  position: relative;
  .ani-button {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    height: 40px;
    line-height: 38px;
    padding: 0px 15px;
    text-align: center;
    touch-action: manipulation;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &.active {
      background-color: #ff3377;
      border: 1px solid #ff3377;
    }
    &:hover {
      background-color: #ff3377;
      border: 1px solid #ff3377;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    span {
      display: inline-block;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      font-family: $main-fontFamily;
      white-space: nowrap;
    }
  }
}
