.cata {
  position: absolute;
  top: 40px;
  left: 0;
  color: white;
  z-index: 999;
  width: 500px;
  height: 300px;
  transform: translateX(-80px);
  background-color: red;
  border-radius: 8px;
  overflow: auto;
  display: none;
}
