@use "../../scss/" as *;

.footer {
  margin-top: 10px;
  padding: 45px 50px 15px 50px;
  background-image: linear-gradient(
      to bottom,
      #1f1d2b 23%,
      rgba(31, 29, 43, 85%) 77%,
      rgba(31, 29, 43, 85%) 100%
    ),
    url(../../assets/images/background/footerBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 0 100px;
  }
  &-brand__name {
    font-size: 2.65rem;
    font-family: $main-fontFamily;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
  }
  &-desc {
    margin-top: 20px;
    margin-bottom: 30px;
    font-style: 14px;
    font-family: $main-fontFamily;
  }
  &-social {
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-bottom: 30px;
    a {
      color: #fff;
      :hover {
        color: #ff3377;
        transition: 0.3s ease;
      }
    }
  }
  &-copyright {
    font-family: $main-fontFamily;
    font-size: 14px;
    color: #d8d8d8;
  }
  &-heading {
    font-size: 22px;
    font-weight: 500;
    font-family: $main-fontFamily;
    margin-bottom: 30px;
  }
  &-item {
    margin-bottom: 20px;
  }
  &-item__link {
    color: #fff;
    font-family: $main-fontFamily;
    &:hover {
      color: #ff3377;
      transition: 0.3s ease;
    }
  }
}
