$body-bg: #1f1d2b;
$main-color: #ff3377;
$second-color: #d400ff;
$txt-color: #fff;

$white: #fff;
$black: #000;

$mobile-width: 600px;
$tablet-width: 1024px;

// $font-family: "Rowdies", cursive;
