$body-bg: #1f1d2b;
$player-bg: #1f1d2d;
$main-color: #ff3377;
$second-color: #d400ff;
$txt-color: #fff;

$white: #fff;
$black: #000;
$gray: #a2a2a2;

$mobile-width: 600px;
$tablet-width: 1024px;

$main-fontFamily: "Baloo Bhaijaan 2", cursive;
