@use "../../../scss/" as *;

.popover-btn {
  display: inline-block;
  height: 40px;
  line-height: 55px;
  color: whitesmoke;
}

.popover {
  position: absolute;
  top: 48px;
  right: 0;
  min-width: 220px;
  background-color: $body-bg;
  z-index: 500;
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  transform: translateY(20px);
  transition: all 200ms linear;
  &-list {
    padding: 10px 5px;
  }
  &.active {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0px);
  }
  &::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -6px;
    right: 6px;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid $body-bg;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
  }
}

.popover-item {
  min-width: 200px;
  border-radius: 10px;
  // background-color: $main-color;
  margin-bottom: 5px;
  cursor: pointer;
}

.popover-title {
  height: 40px;
  line-height: 40px;
  min-width: 220px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popover-label {
  display: flex;
  align-items: center;
  border-radius: 12px;
  white-space: nowrap;
  &__txt {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: $main-fontFamily;
  }
  &__lang {
    font-size: 14px;
    font-weight: 400;
    font-family: $main-fontFamily;
    pointer-events: auto;
    color: hsla(0, 0%, 100%, 0.8);
  }
}
