@use "../../scss/" as *;
.ani-list-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: 20px;
  .card-skeleton {
    --spacing: 20px;
    --column: 6;
    position: relative;
    overflow: hidden;
    width: calc(100% / var(--column) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
  }
}
